---
import carPhoto from "@assets/vehicle.avif";
import carMid from "@assets/vehicle2.avif";
import carBottom from "@assets/vehicle3.avif";
import slideOne from "@assets/slideOne.avif";
---

<section
  class="cardsHero grid grid-cols-8 md:grid-cols-18 grid-rows-[auto_auto_auto] gap-6 my-36 mb-60 md:-mb-72 max-h-fit">
  <!-- 1st row -->
  <div class="heroImg col-span-6 col-start-2 md:col-span-12 md:col-start-4 my-6">
    <picture class="rounded-md block">
      <source srcset={carPhoto.src} type="image/avif" />
      <img
        class="rounded-xl w-full h-auto"
        src={carPhoto.src}
        alt="Car"
        width={carPhoto.width}
        height={carPhoto.height}
      />
    </picture>
  </div>

  <!-- 2nd row -->
  <div
    class="heroData col-span-6 col-start-2 md:col-span-5 md:col-start-4 row-start-2 my-6 lg:mb-36">
    <h2>Further together.</h2>
    <p>
      Oltre 20 anni fa ci siamo chiesti se una vettura sportiva potesse essere qualcosa di
      più che l'espressione dell'individualità. La risposta è stata la Cayenne. Una
      vettura che non ha cessato di evolversi. Per coloro che vogliono raggiungere luoghi
      incontaminati.
    </p>
  </div>

  <!-- 3rd row base image -->
  <div
    class="heroImg col-span-5 col-start-1 md:col-span-8 md:col-start-5 row-start-3 my-6 z-0">
    <picture class="rounded-md block">
      <source srcset={carPhoto.src} type="image/avif" />
      <img
        class="rounded-xl w-full h-auto"
        src={carPhoto.src}
        alt="Car"
        width={carPhoto.width}
        height={carPhoto.height}
      />
    </picture>
  </div>

  <!-- 3rd row overlapping image -->
  <div
    class="heroImg col-span-4 col-start-5 md:col-span-9 md:col-start-10 lg:col-span-7 lg:col-start-11 row-start-3 z-10 -mt-10 relative top-36 md:-top-[600px] xl:h-[900px]">
    <picture class="rounded-md block">
      <source srcset={slideOne.src} type="image/avif" />
      <img class="rounded-xl w-full h-full object-cover" src={slideOne.src} alt="Car" />
    </picture>
  </div>
</section>
